$primary-red: #B22222	;
$footer-header-red: #770000;
$selected-yellow: #ffff00;
$white: #ffffff;

body {
  background:#a71111;
  background-size: cover;
  margin: 0;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hq-selected {
  border: 2px solid;
  border-color: $selected-yellow
}

.container-comics {
  width: 100%;
  overflow-y: scroll;
}

.container-comics::-webkit-scrollbar {
  width: 10px;
}

.container-comics::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.container-comics::-webkit-scrollbar-thumb {
  background: $footer-header-red;
}

.container-comics::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.list-comics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 2fr));
  grid-gap: 1rem;
}

.list-comics .container-comic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s;
}

.list-comics .container-comic img {
  display: block;
  width: 100%;
  height: 100%;
}

.list-comics .container-comic .description {
  position: absolute;
  height: 50%;
  opacity:0;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  color: #ffffff;
  cursor: -webkit-zoom-in;
}

.list-comics .container-comic .select {
  position: absolute;
  top: 0;
  width: 2rem;
  left: 0;
  padding: 1rem;
}

.list-comics .container-comic .select img {
  cursor: pointer;
}

.list-comics .container-comic:hover .description {
  opacity: 1;
}

.list-comics .container-comic:hover img {
  opacity: 0.3;
}

.list-comics .container-comic:hover {
  transform: translate(0, -10px);
}

.container-pagination {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: $footer-header-red;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.container-pagination button {
  cursor: pointer;
}

.modal-comics {
  background-image: url("./assets/images/hq-background.jpeg");
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.hq-info {
  position: absolute;
    text-align: center;
    width: 100%;
    top: 20%;
    color: #ffffff;
    background: $primary-red;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.hq-info-text {
  padding: 2rem;
  width: 100%;
}

.hq-info-text p:first-child{
  font-size: 2rem;
  font-weight: 900;
}

@media only screen and (max-width: 495px) {
  .header {
    flex-direction: column;
  }
  .div-logo {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  .div-send-email-button {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .div-send-email-button input {
    width: 100% !important;
  } 
  .list-comics {
    padding: 10px;
  }
  .hq-info {
    display: block;
  }
  .hq-info-text {
    padding: 0;
  }
  .select-hq-button {
    margin: 8px;
  }
}

.header {
  width: 100%;
  background-color: $footer-header-red;
  display: flex;
  justify-content: space-between;
}

.filter {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.filter input {
  border: none;
  width: 80%;
  height: 2rem;
  border-radius: 0.6rem;
  text-align: center;
  padding: .5rem;
}

.logo {
  width: 200px;
}

.div-logo {
  width: 20%;
}

.div-send-email-button {
  padding: 1rem;
  text-align: center;
  align-self: center;
}

.div-send-email-button input {
  margin-bottom: 0.3rem;
  border: none;
  height: 1rem;
  border-radius: 0.6rem;
  text-align: center;
  padding: .5rem;
  width: 90%;
}

.hq-button {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.hq-button:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}

.pagination {
  font-weight: 700;
  color: $white;
  width: 20px;
  margin: 5px;
  text-align: center;
}

.select-hq-button {
  border-radius: .3rem;
  padding: .4rem;
  color: #ffffff;
  background: #848484;
  border: none;
}

.spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.display-none {
  display: none;
}